*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
    background: url(conference.jpg);
    background-size: cover;
    font-family: sans-serif;
}
header{
    background:#0056b3;
    color: #fff;
    padding: 20px 0;
    text-align: center;
        
}