*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif; 
}
:root {
    --header-bg: #0056b3;
    --highlight-color: #ff523b;
    --btn-bg: #50508B;
}
header{ 
    background:var(--header-bg); 
    color: #ffffff; 
    padding: 15px 0; 
    text-align: center; 
    margin-bottom: 1em; 
}
.small-container{
    margin: 2em; 
    padding: 0 25px; 
}
.title{
    text-align: center;
    position: relative;
    line-height: 60px;
    color:#555;
}
.title::after{
    align-items: center;
    content: ' ';/*content are background 🎮*/
    background:var(--highlight-color);
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 47%;
}
.title:hover{
    color: turquoise;
}
.content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

h2 {
    text-align: center;
    
}
h3, p{
    margin-bottom: 1em; 
    font-size: 16px;
}

.content h2 {
    font-weight: 400;
    padding-left: 1em;
    text-decoration: underline;
}
li a{

    text-decoration: none;
    color: #000000;
}

.days{
    line-height: 50px;
    margin: 1em 0; 
    padding: 10px;
    background: #9C9C9C; 
    border-radius: 1em;
    color: #000000;
}
.center embed{
    display: block;
    padding: 20px 0;
    margin-left: 25em;
}

.btn {
    display: block;
    width: 150px;
    max-height: 70px;
    text-decoration: none;
    border-radius: 10px;
    background: var(--btn-bg);
    cursor: pointer; 
    font-size: 1.2em;
    margin: 1em auto; /* Center the button */
    text-align: center;
    box-shadow: 0 0.5em 0.5em black;
    color: #fff;;
}
.btn:hover{
    background: #0051AD;
    border: inset;
}
footer {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    padding: 20px 0;
    background: #0056b3;
    width: 100%;
    position: relative; 
}

/*media query*/
@media (max-width: 768px) {
body {
    font-size: 14px; /* Adjust font size for smaller screens */
}

.small-container {
    padding: 10px; /* Reduce padding */
}

.days {
    display: block; /* Stack seminar days */
    width: 100%; /* Full width on smaller screens */
}
}
